<canvas #canvas></canvas>
<div class="controls" *ngIf="toolbar">
  <ion-fab-button
    attr.color="{{ isTool('region') ? 'primary' : 'light' }}"
    (click)="currentRegion = null; setTool('region')">
    <ion-icon name="crop"></ion-icon>
  </ion-fab-button>
  <ion-fab-button
    attr.color="{{ isTool('select') ? 'primary' : 'light' }}"
    (click)="setTool('select')">
    <ion-icon name="color-wand"></ion-icon>
  </ion-fab-button>
  <ion-fab-button
    *ngIf="currentRegion"
    attr.color="{{ currentRegion.revealed ? 'secondary' : 'light' }}"
    (click)="toggleCurrentRegion()">
    <ion-icon attr.name="{{ currentRegion.revealed ? 'eye-off' : 'eye' }}"></ion-icon>
  </ion-fab-button>
  <ion-fab-button
    *ngIf="currentRegion"
    attr.color="{{ isTool('move') ? 'primary': 'light' }}"
    (click)="setTool('move')">
    <ion-icon name="move"></ion-icon>
  </ion-fab-button>
</div>