<canvas #canvas></canvas>
<div class="controls">
    <color-select [color]="maps.penColor" (select)="penColor($event)"></color-select>
    <ion-fab-button
      class="layer-select"
      attr.color="{{ isTool('draw') ? 'primary' : 'light' }}"
      (click)="setTool('draw')">
      <ion-icon name="brush"></ion-icon>
    </ion-fab-button>
    <ion-fab-button
      class="layer-select"
      attr.color="{{ isTool('erase') ? 'primary' : 'light' }}"
      (click)="setTool('erase')">
      <fa-icon [icon]="faEraser" color="light"></fa-icon>
    </ion-fab-button>
    <ion-fab-button
      class="layer-select"
      attr.color="{{ isTool('region') ? 'primary' : 'light' }}"
      (click)="setTool('region')">
      <ion-icon name="eye"></ion-icon>
    </ion-fab-button>
</div>
