<ion-header>
  <ion-toolbar>
    <ion-title>Select an Image</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>{{ path }}</ion-list-header>
    <ion-item *ngIf="loading">
      <ion-label>
        <i>Loading</i>
      </ion-label>
    </ion-item>
    <ion-item button (click)="dirUp()" *ngIf="!loading && path != '/'">
      <ion-icon name="return-left" slot="end"></ion-icon>
      <ion-label>
          Up one level ... &nbsp; 
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let subdir of subdirs" button (click)="navigate(subdir)">
      <ion-icon name="folder" slot="end"></ion-icon>
      {{ subdir }}
    </ion-item>
    <ion-item *ngFor="let image of images" button (click)="select(image)">
      <ion-thumbnail slot="end">
        <img src="{{ imgPath(image) }}">
      </ion-thumbnail>
      {{ image }}
    </ion-item>
  </ion-list>
</ion-content>
