<div [style.background-image]="getBackgroundImage()" id="minimap-background">
    <canvas #canvas>
    </canvas>    
</div>
<div class="controls">
    <ion-fab-button
        color="danger"
        (click)="shutdownClickHandler()">
        <ion-icon name="power"></ion-icon>
    </ion-fab-button>
    <ion-fab-button
        color="light"
        (click)="snapToPlayer()">
        <ion-icon name="open"></ion-icon>
    </ion-fab-button>
    <ion-fab-button
        color="light"
        (click)="snapToGM()">
        <ion-icon name="contract"></ion-icon>
    </ion-fab-button>
    <ion-fab-button
        color="light"
        (click)="send()">
        <ion-icon name="cloud-upload"></ion-icon>
    </ion-fab-button>
    <ion-range 
        color="light" 
        (ionChange)="scaleChange($event)"
        [(ngModel)]="rangeSlider"></ion-range>
</div>
