<div [style.background-image]="getBackgroundImage()" id="minimap-background">
    <canvas #canvas>
    </canvas>    
</div>
<div id="controls">
    <ion-fab-button
        color="light">
        <ion-icon name="open"></ion-icon>
    </ion-fab-button>
    <ion-fab-button
        [color]="isCamera('player') ? 'primary' : 'light'"
        (click)="setCamera('player')">
        <ion-icon name="logo-buffer"></ion-icon>
    </ion-fab-button>
    <ion-fab-button
        [color]="isCamera('gm') ? 'primary' : 'light'"
        (click)="setCamera('gm')">
        <ion-icon name="speedometer"></ion-icon>
    </ion-fab-button>
    <ion-range 
        color="light" 
        (ionChange)="scaleChange($event)"
        [(ngModel)]="rangeSlider"></ion-range>
</div>
