fa-icon {
    font-size: 1.5em;
}

.control-container {
    position: relative;
}

mini-map-canvas {
    width: 20em;
    height: 20em;
    display: inline-block;
    vertical-align: top;
}

.ion-fab-button-row {
    position: relative;
    ion-fab-button {
        display: inline-block;
        margin-right: 1em;
    }
    margin-bottom: 0.5em;
    text-align: right;
}


.left-controls {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.5em;
}

.left-controls > * {
    margin-bottom: 0.5em;
}

.bottom-controls {
    margin-top: 3em;
}

.toggle {
    background-color: var(--ion-color-light);
    padding-top: 0.25em;
    vertical-align: top;
    ion-icon, fa-icon {
        display: block;
        font-size: 1.5em;
        width: 100%;
    }
    width: 3.5em;
    display: inline-block;
}

.horizontal-toggle {
    background-color: var(--ion-color-light);
    display: inline-block;
    padding-left: 0.5em;
    position: relative;
    top: -0.5em;
    fa-icon {
        vertical-align: top;
        padding-top: 0.25em;
        display: inline-block;
    }
    ion-toggle {
        vertical-align: center;
    }
}