<div class="control-container">
  <div class="left-controls">
    <div class="toggle">
        <ion-icon *ngIf="maps.viewLocked" name="lock"></ion-icon>
        <ion-icon *ngIf="!maps.viewLocked" name="unlock"></ion-icon>
        <ion-toggle [(ngModel)]="maps.viewLocked" (ionChange)="lockToggle()"></ion-toggle>
    </div>
    <ion-fab-button
      class="layer-select"
      attr.color="{{ revealing ? 'primary' : 'light' }}"
      (click)="setRevealing()">
      <ion-icon name="eye"></ion-icon>
    </ion-fab-button>
  </div>
  <mini-map-canvas></mini-map-canvas>
  <div class="bottom-controls">
    <div class="ion-fab-button-row">
      <color-select [color]="maps.penColor" (select)="penColor($event)"></color-select>
      <ion-fab-button
        class="layer-select"
        attr.color="{{ drawing ? 'primary' : 'light' }}"
        (click)="drawClick()">
        <ion-icon name="brush"></ion-icon>
      </ion-fab-button>
      <ion-fab-button
        class="layer-select"
        attr.color="{{ erasing ? 'primary' : 'light' }}"
        (click)="eraseClick()">
        <fa-icon [icon]="faEraser" color="light"></fa-icon>
      </ion-fab-button>
      <div class="horizontal-toggle">
        <fa-icon [icon]="faUserSecret" name="lock"></fa-icon>
        <ion-toggle [(ngModel)]="gm" (ionChange)="gmToggle()"></ion-toggle>
      </div>
    </div>
  </div>  
</div>