<ion-header>
  <ion-toolbar>
    <ion-title>Views</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createView()"><ion-icon name="add"></ion-icon>New View</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <color-select slot="start" 
        [color]="maps.server.global.color" 
        (select)="selectColor($event, -1)"></color-select>
      <ion-label>(Global)</ion-label>
      <ion-icon name="radio-button-on" *ngIf="maps.current == maps.server.global" color="dark"></ion-icon>
      <ion-icon *ngIf="maps.current != maps.server.global" name="radio-button-off"
        (click)="maps.changeCurrentView(-1)"></ion-icon>
    </ion-item>
    <ion-item *ngFor="let view of maps.server.views; let viewIndex = index">
      <color-select slot="start" 
        [color]="view.color"
        (select)="selectColor($event, viewIndex)"></color-select>
      <ion-label>{{ view.name }}</ion-label>
      <ion-icon name="trash" (click)="presentDeleteView(view.name, viewIndex)"></ion-icon>
      <ion-icon name="settings" (click)="changeViewName(view.name, viewIndex)"></ion-icon>
      <ion-icon name="radio-button-on" *ngIf="maps.current == view" color="dark"></ion-icon>
      <ion-icon *ngIf="maps.current != view" name="radio-button-off"
        (click)="maps.changeCurrentView(viewIndex)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
