<drawing-canvas></drawing-canvas>
<map-canvas></map-canvas>
<mini-map-canvas *ngIf="ui"></mini-map-canvas>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!ui">
  <ion-fab-button 
    color="light" 
    (click)="toggleUI()" 
    attr.data-desc="{{ connectionInfo() }}">
    <ion-icon name="logo-buffer"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab class="ui-open" vertical="bottom" horizontal="end" slot="fixed" *ngIf="ui">
  <ion-fab-button 
    color="light" 
    attr.data-desc="{{ filenameInfo() }}"
    (click)="presentFileModal()">
    <ion-icon name="folder-open"></ion-icon>
  </ion-fab-button>
  <ion-fab-button 
    color="primary" 
    (click)="toggleUI()" 
    attr.data-desc="{{ connectionInfo() }}">
    <ion-icon name="logo-buffer"></ion-icon>
  </ion-fab-button>
</ion-fab>