<drawing-canvas></drawing-canvas>
<map-canvas></map-canvas>
<fog-canvas></fog-canvas>
<mouse-interaction></mouse-interaction>
<mini-map-canvas *ngIf="maps.ui"></mini-map-canvas>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!maps.ui">
  <ion-fab-button 
    color="light" 
    (click)="maps.toggleUI()" 
    attr.data-desc="{{ connectionInfo() }}">
    <ion-icon name="logo-buffer"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab class="ui-open" vertical="top" horizontal="start" slot="fixed" *ngIf="maps.ui">
  <ion-fab-button color="danger" (click)="presentShutdownAlert()">
    <ion-icon name="power"></ion-icon>
  </ion-fab-button>
  <ion-fab-button color="danger" (click)="presentFanAlert()">
    <ion-icon name="snow"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab class="ui-open" vertical="bottom" horizontal="start" slot="fixed" *ngIf="maps.ui">
  <ion-fab-button
    class="layer-select"
    attr.color="{{ layerStyle('draw') }}"
    (click)="setMouseEvents('draw')">
    <ion-icon name="create"></ion-icon>
  </ion-fab-button>
  <ion-fab-button
    class="layer-select"
    attr.color="{{ layerStyle('erase') }}"
    (click)="setMouseEvents('erase')">
    <ion-icon name="radio-button-on"></ion-icon>
  </ion-fab-button>
  <ion-fab-button
    class="layer-select"
    attr.color="{{ layerStyle('reveal') }}"
    (click)="setMouseEvents('reveal')">
    <ion-icon name="eye"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab class="ui-open" vertical="bottom" horizontal="end" slot="fixed" *ngIf="maps.ui">
  <ion-fab-button
    color="light"
    attr.data-desc="{{ currentViewInfo() }}"
    *ngIf="maps.imageLoaded()"
    (click)="presentViewsModal()">
    <ion-icon name="aperture"></ion-icon>
  </ion-fab-button>
  <ion-fab-button
    color="light"
    attr.data-desc="{{ saving ? 'Saving' : 'Save' }}"
    *ngIf="maps.imageLoaded()"
    (click)="saveMetadata()">
    <ion-icon name="save"></ion-icon>
  </ion-fab-button>
  <ion-fab-button 
    color="light" 
    attr.data-desc="{{ filenameInfo() }}"
    (click)="presentFileModal()">
    <ion-icon name="folder-open"></ion-icon>
  </ion-fab-button>
  <ion-fab-button 
    color="primary" 
    (click)="maps.toggleUI()" 
    attr.data-desc="{{ connectionInfo() }}">
    <ion-icon name="logo-buffer"></ion-icon>
  </ion-fab-button>
</ion-fab>