<div id="canvas-group-player" [class]="canvasGroupClass('player')">
  <map-canvas group="player"></map-canvas>
  <!--
  <drawing-canvas [groups]="['player']""></drawing-canvas>
  <fog-canvas [groups]="['player']"></fog-canvas>
  -->
</div>
<div id="canvas-group-gm" [class]="canvasGroupClass('gm')">
  <map-canvas group="gm"></map-canvas>
  <!--
  <gm-note-canvas [groups]=['gm']></gm-note-canvas>
  -->
</div>
<div id="canvas-group-minimap" [class]="canvasGroupClass('minimap')">
  <mini-map-canvas group="minimap"></mini-map-canvas>
</div>
<control *ngIf="maps.ui"></control>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="vertical-ui">
  <ion-fab-button
    [color]="isTop('minimap') ? 'primary' : 'light'"
    data-desc="Minimap"
    (click)="setTop('minimap')">
    <ion-icon name="move"></ion-icon>
  </ion-fab-button>
  <ion-fab-button
    [color]="isTop('gm') ? 'primary' : 'light'"
    data-desc="GM"
    (click)="setTop('gm')">
    <ion-icon name="speedometer"></ion-icon>
  </ion-fab-button>
  <ion-fab-button
    [color]="isTop('player') ? 'primary' : 'light'"
    data-desc="Player View"
    (click)="setTop('player')">
    <ion-icon name="logo-buffer"></ion-icon>
  </ion-fab-button>
</ion-fab>
<!--
<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!maps.ui">
  <ion-fab-button 
    color="light" 
    (click)="maps.toggleUI()" 
    attr.data-desc="{{ connectionInfo() }}">
    <ion-icon name="logo-buffer"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab class="ui-open" vertical="top" horizontal="start" slot="fixed" *ngIf="maps.ui">
  <ion-fab-button color="danger" (click)="presentShutdownAlert()">
    <ion-icon name="power"></ion-icon>
  </ion-fab-button>
  <ion-fab-button color="danger" (click)="presentFanAlert()">
    <ion-icon name="snow"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab class="ui-open" vertical="bottom" horizontal="end" slot="fixed" *ngIf="maps.ui">
  <ion-fab-button
    color="light"
    attr.data-desc="{{ currentViewInfo() }}"
    *ngIf="maps.imageLoaded()"
    (click)="presentViewsModal()">
    <ion-icon name="aperture"></ion-icon>
  </ion-fab-button>
  <ion-fab-button
    color="light"
    attr.data-desc="{{ saving ? 'Saving' : 'Save' }}"
    *ngIf="maps.imageLoaded()"
    (click)="saveMetadata()">
    <ion-icon name="save"></ion-icon>
  </ion-fab-button>
  <ion-fab-button 
    color="light" 
    attr.data-desc="{{ filenameInfo() }}"
    (click)="presentFileModal()">
    <ion-icon name="folder-open"></ion-icon>
  </ion-fab-button>
  <ion-fab-button 
    color="primary" 
    (click)="maps.toggleUI()" 
    attr.data-desc="{{ connectionInfo() }}">
    <ion-icon name="logo-buffer"></ion-icon>
  </ion-fab-button>
</ion-fab>
-->